# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
build/
coverage/
**/dist/
**/build/
**/coverage/

# Env files
.env
.env.*
**/.env
**/.env.*

# Logs
*.log
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Nest / TypeScript
**/*.tsbuildinfo

# Project-specific
VIVA_GUIDE.md
